package ${packageName}.controller;

import java.util.List;
import javax.servlet.http.HttpServletResponse;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.PutMapping;
import org.springframework.web.bind.annotation.DeleteMapping;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
import ${packageName}.model.domain.${className};
import ${packageName}.service.I${className}Service;

/**
 * ${tableComment}Controller
 * 
 * @author ${author}
 */
@RestController
@RequestMapping("/${tableName}")
public class ${className}Controller
{
    #set($classNameLower=${className.substring(0,1).toLowerCase()} + ${className.substring(1)})
    @Autowired
    private I${className}Service ${classNameLower}Service;

    /**
     * 查询${tableComment}列表
     */
    @GetMapping("/list")
    public List<${className}> list(${className} ${classNameLower})
    {
        return ${classNameLower}Service.select${className}List(${classNameLower});
    }



    /**
     * 获取${tableComment}详细信息
     */
     #set($isPkJavaFieldAttrName=${isPkJavaField.substring(0,1).toUpperCase()} + ${isPkJavaField.substring(1)})
    @GetMapping(value = "/{${isPkJavaField}}")
    public ${className} getInfo(@PathVariable("${isPkJavaField}") ${isPkJavaType} ${isPkJavaField})
    {
        return ${classNameLower}Service.select${className}By${isPkJavaFieldAttrName}(${isPkJavaField});
    }

    /**
     * 新增${tableComment}
     */
    @PostMapping
    public int add(@RequestBody ${className} ${classNameLower})
    {
        return ${classNameLower}Service.insert${className}(${classNameLower});
    }

    /**
     * 修改${tableComment}
     */
    @PutMapping
    public int edit(@RequestBody ${className} ${classNameLower})
    {
        return ${classNameLower}Service.update${className}(${classNameLower});
    }

    /**
     * 删除${tableComment}
     */
	@DeleteMapping("/{${isPkJavaField}s}")
    public int remove(@PathVariable ${isPkJavaType}[] ${isPkJavaField}s)
    {
        return ${classNameLower}Service.delete${className}By${isPkJavaFieldAttrName}s(${isPkJavaField}s);
    }
}
