package ${packageName}.mapper;

import java.util.List;
import ${packageName}.model.domain.${className};

import org.apache.ibatis.annotations.Mapper;
/**
 * ${tableComment}Mapper接口
 * 
 * @author ${author}
 */
@Mapper
public interface ${className}Mapper
{
    /**
     * 查询${tableComment}
     * 
     * @param ${isPkJavaField} ${tableComment}主键
     * @return ${tableComment}
     */
    #set($isPkJavaFieldAttrName=${isPkJavaField.substring(0,1).toUpperCase()} + ${isPkJavaField.substring(1)})
    public ${className} select${className}By${isPkJavaFieldAttrName}(${isPkJavaType} ${isPkJavaField});

    #set($classNameLower=${className.substring(0,1).toLowerCase()} + ${className.substring(1)})
    /**
     * 查询${tableComment}列表
     *
     * @param ${classNameLower} ${tableComment}
     * @return ${tableComment}集合
     */
    public List<${className}> select${className}List(${className} ${classNameLower});

    /**
     * 新增${tableComment}
     * 
     * @param ${classNameLower} ${tableComment}
     * @return int
     */
    public int insert${className}(${className} ${classNameLower});

    /**
     * 修改${tableComment}
     * 
     * @param ${classNameLower} ${tableComment}
     * @return int
     */
    public int update${className}(${className} ${classNameLower});

    /**
     * 删除${tableComment}
     * 
     * @param ${isPkJavaField} ${tableComment}主键
     * @return int
     */
    public int delete${className}By${isPkJavaFieldAttrName}(${isPkJavaType} ${isPkJavaField});

    /**
     * 批量删除${tableComment}
     * 
     * @param ${isPkJavaField}s 需要删除的数据主键集合
     * @return int
     */
    public int delete${className}By${isPkJavaFieldAttrName}s(${isPkJavaType}[] ${isPkJavaField}s);
}
