package ${packageName}.service;

import java.util.List;
import ${packageName}.domain.${className};

/**
 * ${tableComment}Service接口
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface I${className}Service
{
    /**
     * 查询${tableComment}
     * 
     * @param ${isPkJavaField} ${tableComment}主键
     * @return ${className}
     */
    #set($isPkJavaFieldAttrName=${isPkJavaField.substring(0,1).toUpperCase()} + ${isPkJavaField.substring(1)})
    public ${className} select${className}By${isPkJavaFieldAttrName}(${isPkJavaType} ${isPkJavaField});

    /**
     * 查询${tableComment}列表
     * 
     * @param ${className} ${tableComment}
     * @return ${tableComment}集合
     */
    public List<${className}> select${className}List(${className} ${className});

    /**
     * 新增${tableComment}
     * 
     * @param ${className} ${tableComment}
     * @return int
     */
    public int insert${className}(${className} ${className});

    /**
     * 修改${tableComment}
     * 
     * @param ${className} ${tableComment}
     * @return int
     */
    public int update${className}(${className} ${className});

    /**
     * 批量删除${tableComment}
     * 
     * @param ${isPkJavaField}s 需要删除的${tableComment}主键集合
     * @return int
     */
    public int delete${className}By${isPkJavaFieldAttrName}s(${isPkJavaType}[] ${isPkJavaField}s);

    /**
     * 删除${tableComment}信息
     * 
     * @param ${isPkJavaField} ${tableComment}主键
     * @return int
     */
    public int delete${className}By${isPkJavaFieldAttrName}(${isPkJavaField} ${isPkJavaField});
}
