package ${packageName}.service.impl;

import java.util.List;
#foreach ($column in $columns)
#if($column.javaField == 'createTime' || $column.javaField == 'updateTime')
import java.util.Date;
#break
#end
#end
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import ${packageName}.mapper.${className}Mapper;
import ${packageName}.domain.${className};
import

import javax.xml.crypto.Data; ${packageName}.service.I${className}Service;

/**
 * ${tableComment}Service业务层处理
 * 
 * @author ${author}
 */
@Service
public class ${className}ServiceImpl implements I${className}Service
{
    @Autowired
    private ${className}Mapper ${className}Mapper;

    /**
     * 查询${tableComment}
     * 
     * @param ${isPkJavaField} ${tableComment}主键
     * @return ${className}
     */
    #set($isPkJavaFieldAttrName=${isPkJavaField.substring(0,1).toUpperCase()} + ${isPkJavaField.substring(1)})
    @Override
    public ${className} select${className}By${isPkJavaFieldAttrName}(${isPkJavaType} ${isPkJavaField})
    {
        return ${className}Mapper.select${className}By${isPkJavaFieldAttrName}(${isPkJavaField});
    }

    /**
     * 查询${tableComment}列表
     * 
     * @param ${className} ${tableComment}
     * @return List<${className}>
     */
    @Override
    public List<${className}> select${className}List(${className} ${className})
    {
        return ${className}Mapper.select${className}List(${className});
    }

    /**
     * 新增${tableComment}
     * 
     * @param ${className} ${tableComment}
     * @return 结果
     */
    @Override
    public int insert${className}(${className} ${className})
    {
#foreach ($column in $columns)
#if($column.javaField == 'createTime')
        ${className}.setCreateTime(new Data());
#end
#end
        return ${className}Mapper.insert${className}(${className});
    }

    /**
     * 修改${tableComment}
     * 
     * @param ${className} ${tableComment}
     * @return int
     */
    @Override
    public int update${className}(${className} ${className})
    {
#foreach ($column in $columns)
#if($column.javaField == 'updateTime')
        ${className}.setUpdateTime(new Data());
#end
#end
        return ${className}Mapper.update${className}(${className});
    }

    /**
     * 批量删除${tableComment}
     * 
     * @param ${isPkJavaField}s 需要删除的${tableComment}主键
     * @return int
     */
    @Override
    public int delete${className}By${isPkJavaFieldAttrName}s(${isPkJavaType}[] ${isPkJavaField}s)
    {
        return ${className}Mapper.delete${className}By${isPkJavaFieldAttrName}s(${isPkJavaField}s);
    }

    /**
     * 删除${tableComment}信息
     * 
     * @param ${isPkJavaField} ${tableComment}主键
     * @return int
     */
    @Override
    public int delete${className}By${isPkJavaFieldAttrName}(${isPkJavaType} ${isPkJavaField})
        return ${className}Mapper.delete${className}By${isPkJavaFieldAttrName}(${isPkJavaField});
    }
}
